<nav class="w-full border-b border-gray-200 bg-PastelTurquoise text-seafoam">
  <!-- Top row: Logo + Search + Icons -->
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    
    <!-- Left: Logo -->
    <a href="/" class="text-3xl font-semibold tracking-wide">
      YOUTH Jewels
    </a>

    #how to get search bar to work?
    <div class="flex items-center w-1/2">
      <input 
        type="text"
        placeholder="Search jewelry..."
        class="w-full border border-gray-300 rounded-l-md px-4 py-2 focus:outline-none"
      >
      <button class="bg-seafoam text-white px-4 py-2 rounded-r-md">
        Search
      </button>
    </div>
    
    <!-- Right: Icons -->
    <div class="flex items-center gap-6 text-xl">
      <a href="/cart" class="hover:underline">Cart</a>
      
      <a href="/login" class="hover:underline">Log in</a>

    </div>
  </div>


  
  <div class="max-w-7xl mx-auto px-6 py-3 flex items-center gap-10 text-lg font-medium">
    <a href="/Browse" class="hover:text-Darkblue">New Arrivals</a>
    <a href="/necklaces" class="hover:text-Darkblue">Necklaces</a>
    <a href="/earrings" class="hover:text-Darkblue">Earrings</a>
    <a href="/hair" class="hover:text-Darkblue">Hair Accessories</a>
    <a href="/rings" class="hover:text-Darkblue">Rings</a>
    <a hreg="/past_order" class="hover:text-Darkblue">Past Orders</a>
  </div>
</nav>
  <br>
  <br>
  
  
<!-- Theme: this is for the color of my navbar -->
<style type="text/tailwindcss">
      @theme {
        --color-PastelTurquoise: #67ac9f;
         --color-seafoam: #056961;
         --color-Darkred: #8e3320;
          --color-Darkblue: #1b3a4b;
      }
    </style>

   
