<nav class="bg-PastelTurquoise p-4 flex items-center justify-between text-seafoam text-2xl font-serif font-semibold">
    <a href="/">YOUTH Jewels</a>

    <div class="flex items-center gap-6">
        <a href="/NEWARRIVAL "> New Arrivals</a>
        <a href="/Neckless">Neckless</a>
        <a href="/Earings"> Earings </a>
        <a href="/HairAccessories"> Hair Accessories</a>
        <a href="/RINGS "> Rings</a>
        <a href="/account"> log in</a>
        <a href="/ShopChart"> shop chart</a>


    </div>
</nav>

<style type="text/tailwindcss">
      @theme {
        --color-PastelTurquoise: #67ac9f;
         --color-seafoam: #056961;
         --color-Darkred: #8e3320
      }
    </style>

   